body {
  font-size: 1.15vw;
  background-color: black;
  color: white;
}
body textarea {
  width: 90%;
  height: 30vh;
  margin: 10px 5%;
}
body button {
  background-color: aliceblue;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  height: 5vh;
}
body button:hover {
  background-color: LightSteelBlue;
}
body hr {
  background-color: black;
}
body a {
  color: white;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}

#all_posts {
  margin: 10px auto 10px auto;
  width: 90vw;
}
#all_posts .posts {
  background-color: rgb(34, 129, 216);
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  transition: transform 0.3s ease;
}
#all_posts .posts #user_input {
  margin: 10px 5%;
}
#all_posts #user_heading {
  font-weight: 600;
  color: white;
  font-size: 1.5em;
}
#all_posts #post_text {
  margin: 0;
}
#all_posts #timestamp {
  margin: 0;
  color: white;
}
#all_posts ul {
  list-style-type: none;
  line-height: 20px;
}
#all_posts #edit_button {
  margin-left: 5px;
}

#new_post {
  background-color: rgb(34, 129, 216);
  border: 1px solid black;
  border-radius: 6px;
  padding: 15px;
  margin: 10px auto 10px auto;
  width: 90vw;
}
#new_post #category_input {
  margin: 10px 5%;
  border-radius: 6px;
  height: 4vh;
}
#new_post #new_post_buttons {
  margin: 10px 5%;
}

#new_post[data-effects=True]:hover, .profile_post[data-effects=True]:hover, #user_info[data-effects=True]:hover, .posts[data-effects=True]:hover, .following_posts[data-effects=True]:hover, #filters[data-effects=True]:hover, #catergory_posts[data-effects=True]:hover {
  transform: scale(1.007);
  box-shadow: 0px 0px 12px rgb(255, 255, 255);
}

#profile_posts {
  margin: 10px auto 10px auto;
  width: 90vw;
}
#profile_posts .profile_post {
  background-color: rgb(34, 129, 216);
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
#profile_posts #user_heading {
  font-weight: 600;
  color: white;
  font-size: 1.5em;
}
#profile_posts #user_input {
  margin: 10px 5%;
}
#profile_posts #user_info {
  background-color: rgb(34, 129, 216);
  height: 45vh;
}
#profile_posts #user_info #open_following:hover, #profile_posts #user_info #open_followers:hover {
  text-decoration: underline;
}
#profile_posts #user_info table {
  width: 45%;
  height: 100%;
}
#profile_posts #user_info button {
  margin-top: 5px;
}
#profile_posts #filters {
  background-color: rgb(34, 129, 216);
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
#profile_posts p {
  margin: 0;
}

#following_posts {
  margin: 10px auto 10px auto;
  width: 90vw;
}
#following_posts .following_posts {
  background-color: rgb(34, 129, 216);
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
#following_posts #user_heading {
  font-weight: 600;
  color: white;
  font-size: 1.5em;
}
#following_posts #user_input {
  margin: 10px 5%;
}
#following_posts #following_user_link {
  color: white;
}
#following_posts #following_users {
  max-height: 400px;
  overflow-y: auto;
  margin: 10px 0 30px 0;
}
#following_posts #following_users table {
  width: 30%;
  background-color: rgb(34, 129, 216);
  margin: auto;
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
}
#following_posts #following_users td, #following_posts #following_users th {
  padding: 15px;
  border-bottom: 2px solid black;
}
#following_posts #following_users #left-border {
  border-left: 2px solid black;
}
#following_posts #following_users #col {
  width: 50%;
}
#following_posts #filters {
  background-color: rgb(34, 129, 216);
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
}

#page_buttons {
  width: 15%;
  margin: 30px 42.5%;
}

#user_info {
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 50px;
}

#like_button[data-clicked=true] {
  background-color: LightSteelBlue;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
}

#like_button[data-clicked=true]:hover {
  background-color: aliceblue;
}

#nav_item {
  background-color: rgb(34, 129, 216) !important;
}
#nav_item a {
  color: white !important;
}

#user_input, #text_input, #edit_text_input, #title_input, #edit_title_input {
  margin: 10px 5%;
  border-radius: 6px;
  padding: 5px;
}

#following_users_popup, #followers_user_popup {
  width: 100%;
}
#following_users_popup #following-content, #followers_user_popup #following-content {
  max-height: 400px;
  overflow-y: auto;
}
#following_users_popup dialog, #followers_user_popup dialog {
  z-index: 10000;
  width: 30%;
  top: 25%;
  position: fixed;
  border-radius: 6px;
  background-color: rgb(34, 129, 216);
}
#following_users_popup table, #followers_user_popup table {
  background-color: white;
  width: 100%;
  margin: auto;
  text-align: center;
}
#following_users_popup td, #following_users_popup th, #followers_user_popup td, #followers_user_popup th {
  padding: 15px;
  border: 2px solid black;
}
#following_users_popup #left-border, #followers_user_popup #left-border {
  border-left: 2px solid black;
}
#following_users_popup #col, #followers_user_popup #col {
  width: 50%;
}
#following_users_popup #close_following, #following_users_popup #close_followers, #followers_user_popup #close_following, #followers_user_popup #close_followers {
  float: right;
  border-radius: 50%;
  height: 2vw;
  margin: 0 10px 10px 10px;
}

#dialog_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: none;
}

#profile_user_link {
  color: black;
}

#filters {
  background-color: rgb(34, 129, 216);
  width: 90%;
  margin: 10px 5%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
#filters #row2 {
  text-align: right;
}
#filters table {
  width: 100%;
}
#filters td {
  width: 50%;
}
#filters select {
  padding: 4px;
  border-radius: 6px;
  background-color: aliceblue;
  border: 1px solid black;
}

.post_page {
  background-color: rgb(34, 129, 216);
  width: 90%;
  margin: 10px 5%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
.post_page table {
  width: 100%;
}
.post_page textarea {
  width: 90%;
  height: 30vh;
  margin: 10px 0;
}
.post_page #user_input {
  margin: 10px 0;
}
.post_page .post_comments {
  border: 2px solid black;
  padding: 10px;
  margin: 5px 0 0 0;
}

#load_more {
  width: 10vw;
  margin: 10px auto;
}
#load_more #load_more_button {
  width: 70%;
  margin: 0 15%;
}

#category_posts {
  margin: 10px auto 10px auto;
  width: 90vw;
}
#category_posts .category_post {
  background-color: rgb(34, 129, 216);
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid black;
  border-radius: 6px;
}
#category_posts #user_heading {
  font-weight: 600;
  color: white;
  font-size: 1.5em;
}
#category_posts #user_input {
  margin: 10px 5%;
}
#category_posts #user_info {
  background-color: rgb(34, 129, 216);
}
#category_posts #user_info #open_following:hover, #category_posts #user_info #open_followers:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */