body {
    font-size: 1.15vw;
    background-color: white;
    color: white;

    textarea {
        width: 90%;
        height: 30vh;
        margin: 10px 5%;
    }

    button {
        background-color: aliceblue;
        border-radius: 8px;
        border-style: solid;
        border-color: black;
        height: 5vh;
    }

    button:hover {
        background-color: LightSteelBlue;
    }

    hr {
        background-color: black;
    }

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    #menu_list {
        color: black;
        padding: 10px;
        min-width: 180px;
    }

    #dropdown_button {
        background-color: transparent;
        border: none;
        font-size: 1.15vw;
    }

    #dropdown_button:hover {
        background-color: none;
    }

    #dropdown_button:focus {
        box-shadow: none;
    }
}

#all_posts {

    margin: 10px auto 10px auto;
    width: 90vw;

    .posts {
        display: flex;
        width: 100%;
        margin: 10px 0;
        border: 1px solid black;
        border-radius: 6px;
        transition: transform 0.3s ease;

        #user_input {
            margin: 10px 5%;
        }
    }

    #post_text {
        margin: 0;
    }

    #timestamp {
        margin: 0;
        color: white;
    }

    ul {
        list-style-type: none;
        line-height: 20px;
    }

    #edit_button {
        margin-left: 5px;
    }
}

#new_post {

    background-color: rgba(46, 134, 193, .75);
    border: 1px solid black;
    border-radius: 6px;
    padding: 15px;
    margin: 10px auto 10px auto;
    width: 90vw;

    #category_input {
        margin: 10px 5%;
        border-radius: 6px;
        height: 4vh;
    }

    #new_post_buttons {
        margin: 10px 5%;
    }

}

#new_post[data-effects='True']:hover, .profile_post[data-effects='True']:hover, #user_info[data-effects='True']:hover, .posts[data-effects='True']:hover, .following_posts[data-effects='True']:hover, #filters[data-effects='True']:hover, #catergory_posts[data-effects='True']:hover {
    transform: scale(1.007);
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 1);
}

#profile_posts {

    margin: 10px auto 10px auto;
    width: 90vw;

    .profile_post {
        width: 100%;
        background-color: rgba(46, 134, 193, .75);
        margin: 10px 0;
        padding: 10px;
        border: 1px solid black;
        border-radius: 6px;
    }

    #user_heading {
        font-weight: 600;
        color: white;
        font-size: 1em;
    }

    #user_input {
        margin: 10px 5%;
    }

    #user_info {
        background-color: rgba(46, 134, 193, .75);
        height: 45vh;

        #open_following:hover, #open_followers:hover {
            text-decoration: underline;
        }

        table {
            width: 45%;
            height: 100%;
        }

        button {
            margin-top: 5px;
        }
    }

    #filters {

        background-color: rgba(26, 82, 118, .75);
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        border: 1px solid black;
        border-radius: 6px;
    }

    p {
        margin: 0;
    }
}

#following_posts {

    margin: 10px auto 10px auto;
    width: 90vw;

    .following_posts {
        display: flex;
        width: 100%;
        margin: 10px 0;
        border: 1px solid black;
        border-radius: 6px;
    }

    #user_input {
        margin: 10px 5%;
    }

    #following_user_link {
        color: white;
    }

    #following_users {

        max-height: 400px;
        overflow-y: auto;
        margin: 10px 0 30px 0;
    
        table {
            width: 30%;
            background-color: rgba(46, 134, 193, .75);
            margin: auto;
            border: 1px solid black;
            border-radius: 6px;
            text-align: center;
        }
        td, th {
            padding: 15px;
            border-bottom: 2px solid black;
        }

        th { 
            background-color: rgba(26, 82, 118, .75);
        }
    
        #left-border {
            border-left: 2px solid black;
        }
    
        #col {
            width: 50%;
        }
    }

    #filters {
        background-color: rgba(26, 82, 118, .75);
        width: 100%;
        margin: 10px auto;
        padding: 10px;
        border: 1px solid black;
        border-radius: 6px;
    }
}

#page_buttons {
    width: 15%;
    margin: 30px 42.5%;
}

#user_info {
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 50px;

}

#like_button[data-clicked="true"] {
    background-color: LightSteelBlue;
    border-radius: 8px;
    border-style: solid;
    border-color: black;
}

#like_button[data-clicked="true"]:hover {
    background-color: aliceblue;
}

#nav_item {
    
    background-color: rgba(46, 134, 193, .75) !important;
    padding: 10px;
    
    a {
        color: white !important;
    }
}

#user_input, #text_input, #edit_text_input, #title_input, #edit_title_input {
    margin: 10px 5%;
    border-radius: 6px;
    padding: 5px;
}

#following_users_popup, #followers_user_popup {

    width: 100%;

    #following-content {
        max-height: 400px;
        overflow-y: auto;
    }
    
    dialog {
        z-index: 10000;
        width: 30%;
        top: 25%;
        position: fixed;
        border-radius: 6px;
        background-color: rgba(46, 134, 193, .75);

    }
    table {
        background-color: white;
        width: 100%;
        margin: auto;
        text-align: center;
    }

    td, th {
        padding: 15px;
        border: 2px solid black;
    }

    #left-border {
        border-left: 2px solid black;
    }

    #col {
        width: 50%;
    }

    #close_following, #close_followers {
        float: right;
        border-radius: 50%;
        height: 2vw;
        margin: 0 10px 10px 10px;
    }
    
}

#dialog_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
}

#profile_user_link {
    color: black;
}

#filters {

    background-color: rgba(26, 82, 118, .75);
    width: 90%;
    margin: 10px 5%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;

    #row1 {
        text-align: right;
    }

    table {
        width: 100%;
    }

    td {
        width: 50%
    }

    h3 {
        font-size: 1.5em;
    }

    select {
        padding: 4px;
        border-radius: 6px;
        background-color: aliceblue;
        border: 1px solid black;
    }
}

.post_page {

    background-color: rgba(46, 134, 193, .75);
    width: 90%;
    margin: 10px 5%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;

    table {
        width: 100%
    }

    textarea {
        width: 90%;
        height: 30vh;
        margin: 10px 0;
    }

    #user_input {
        margin: 10px 0;
    }

    .post_comments {
        
        border: 2px solid black;
        padding: 10px;
        margin: 5px 0 0 0;
    }
}

#load_more {

    width: 10vw;
    margin: 10px auto;

    #load_more_button {
        width: 70%;
        margin: 0 15%;
    }
}

#category_posts {

    margin: 10px auto 10px auto;
    width: 90vw;

    .category_post {
        display: flex;
        width: 100%;
        margin: 10px 0;
        border: 1px solid black;
        border-radius: 6px;
    }

    #user_input {
        margin: 10px 5%;
    }

    #user_info {
        background-color: rgba(46, 134, 193, .75);

        #open_following:hover, #open_followers:hover {
            text-decoration: underline;
        }
    }

}

#edit_profile {

    background-color: rgba(46, 134, 193, .75);
    width: 90%;
    margin: 10px 5%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 6px;

    #ep_info {
        width: 50%;
        margin: auto;
        text-align: left;
    }

    label {
        margin-top: 30px;
    }

    textarea {
        width: 90%;
        padding: 5px;
        margin: 0;
    }

    #uploaded_image, #current_image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    #image_container_new, #image_container_cur {
        width: 250px;
        height: 250px;
        position: relative;
        overflow: hidden;
        background-color: white;
      }
}

#category {

    width: 90vw;
    margin: 20px auto;
    color: black;

    table {
        background-color: white;
        width: 50vw;
        margin: auto;
    }

    tr {
        height: 10vh;
        border: 2px solid black;
    }

    td {
        padding: 10px;
    }

    th {
        text-align: center;
    }

    #post_count, #comment_count {
        text-align: center;
    }

    #post_count p, #comment_count p {
        color: gray;
        margin-bottom: 2px;
    }

    #categories_heading {
        height: 10vh;
        text-align: center;
        background-color: rgba(26, 82, 118, .75);
        width: 60vw;
        margin: 20px auto;
        border-radius: 5px;
        border: 2px solid black;

        h3 {
            line-height: 10vh;
            color: white;
        }
    }

    .categories_parent_headings {
        height: 10vh;
        text-align: center;
        background-color: rgba(46, 134, 193, .75);
        width: 50vw;
        margin: 20px auto 0 auto;
        border-radius: 5px 5px 0 0;
        border-width: 2px 2px 0 2px;
        border-style: solid;
        border-color: black;

        h3 {
            line-height: 10vh;
            color: white;
        }
    }

    #categories_table_heading a {
        color: black;
    }
}

#search_bar {

    text-align: center;
    margin: 20px auto;
    background-color: rgba(26, 82, 118, .75);
    width: 30vw;
    border-radius: 5px;
    padding: 15px;

    select, input {
        height: 5vh;
        border-radius: 5px;
        padding: 5px;
    }
}


#user_heading {
    font-weight: 600;
    color: white;
}

#post_user_block, #post_info_block, #post_button_block {
    flex: 1;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(46, 134, 193, .75);
    margin-right: 10px;
    padding: 10px;
}

#post_text_block {
    flex: 5;
    border-radius: 5px;
    background-color: rgba(46, 134, 193, .75);
    margin-right: 10px;
    padding: 10px;
}

#post_button_block {
    margin-right: 0;
}

#posts_heading {
    width: 90%;
    background-color: rgba(26, 82, 118, .75);
    border-radius: 5px;
    height: 7vh;
    margin: auto;

    h3 {
        line-height: 7vh;
        padding-left: 10px;
    }
}

#search_form {
    justify-content: flex-end;
}

#gtp_button {
    margin: 10px;
}