{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <form action="{% url 'edit' %}" method="post">
        {% csrf_token %}
        <label for="input"><h5>Enter Title:</h5></label>
        <input name="old_title" type="hidden" value="{{ name }}">
        <input placeholder="Title" name="title" type="text" value="{{ name }}">
        <p style="display: inline; color: red">{{ message }}</p>
        <br>
        <label for="textarea"><h5>Enter Markdown:</h5></label>
        <br>
        <textarea name="md_text" cols="100" rows="10" placeholder="#">{{ entry_text }}</textarea>
        <br><br>
        <input type="hidden" name="button_value" value="save">
        <button id="submit" type="submit">Save</button>
    </form>
{% endblock %}