{% extends 'network/layout.html' %}

{% block body %}
<div id="category_posts_page">
    <div id="filters">
        <table>
            <tr>
                <td>
                    <h3 id="category_header" data-category="{{ category.code }}">Posts in the "{{ category.display }}" category</h3>
                </td>
                <td id="row1">
                    <p style="display:inline">Sort By:</p>
                    <select id="sort">
                        <option selected value="new_old">Newest to Oldest</option>
                        <option value="old_new">Oldest to Newest</option>
                        <option value="most_likes">Most Likes</option>
                        <option value="least_likes">Least Likes</option>
                        <option value="most_comments">Most Comments</option>
                        <option value="least_comments">Least Comments</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div id="category_posts">
    </div>
</div>
<div id="load_more">
    <button class="btn" id="load_more_button">Load More</button>
</div>
{% endblock %}