{% extends "network/layout.html" %}

{% block body %}
    <div id="following_posts">
        <h2>All Following Posts</h2>
        <div id="following_users">
        <table>
            <thead>
                <th>User</th>
                <th id="left-border">Unfollow</th>
            </thead>
            {% for user in following_users %}
            <tr>
                <td id="col"><a href="{% url 'profile' user.username %}" id="following_user_link">{{ user.username }}</a></td>
                <td id="col"><button id="unfollow_button" data-userid="{{ user.id }}">Unfollow</button></td>
            </tr>
            {% endfor %}
        </table>
        </div>

    </div>
{% endblock %}