{% extends "network/layout.html" %}

{% block body %}
    <div id="profile_posts">
        <h2>All Following Posts</h2>
        {% for post in following_posts|slice:":5" %}
        <div class="profile_post" data-post="{{ post.post }}">
            <p>{{ post.user }}</p>
            <p>{{ post.text }}</p>
            <p>{{ post.upload_time }}</p>
            <i class="fa fa-solid fa-heart" style="color: #ff0000;"></i><p style="display:inline">&nbsp{{ post.likes_count }}</p>
            <p>{{ post.comments_count }} Comments</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}