{% extends "network/layout.html" %}

{% block body %}

    <div id="login_page">
        <h2>Login</h2>
        {% if message %}
            <div>{{ message }}</div>
        {% endif %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <input autofocus type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Login">
        </form><br>
        <p>Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
    </div>  

{% endblock %}