{% extends "network/layout.html" %}
{% load myfilter %}
{% load static %}

{% block body %}
<div id="dialog_backdrop"></div>
    <div id="following_users_popup" style="display:none">
        <dialog open>  
            <button type="button" id="close_following">X</button>       
            <h2>Following</h2>                   
            <div id="following_content">
                <table>
                    <thead>
                        <th>Username</th>
                        {% if user.username == user_info.username %}
                        <th id="left-border">Unfollow</th>
                        {% endif %}
                    </thead>
                    {% for dif_user in following_users %}
                    <tr>
                        <td id="col"><a href="{% url 'profile' dif_user.username %}?sort={{ sort }}" id="profile_user_link">{{ dif_user.username }}</a></td>
                        {% if user.username == user_info.username %}
                        <td id="col"><button id="remove_follower_button" data-userid="{{ dif_user.id }}">Unfollow</button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </dialog>
    </div>
    <div id="followers_user_popup" style="display:none">
        <dialog open>  
            <button type="button" id="close_followers">X</button>  
            <h2>Followers</h2>            
            <div id="follower_content">
                <table>
                    <thead>
                        <th>Username</th>
                        {% if user.username == user_info.username %}
                        <th id="left-border">Remove</th>
                        {% endif %}
                    </thead>
                    {% for dif_user in follower_users %}
                    <tr>
                        <td id="col"><a href="{% url 'profile' dif_user.username %}?sort={{ sort }}" id="profile_user_link">{{ dif_user.username }}</a></td>
                        {% if user.username == user_info.username %}
                        <td id="col"><button id="unfollow_button" data-userid="{{ dif_user.id }}">Remove</button></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </dialog>
    </div>
    <div id="profile_posts">
        <div id="user_info">
            <table>
                <tr>
                    <td>
                        <img src="{% static user_info.avatar %}" alt="My Image" width="150" height="150"></img>
                    </td>
                    <td  width="30%">
                        <h3>{{ user_info.username }}</h3>
                        <p><span id="open_followers">Followers: {{ user_info.followers }}</span></p>
                        <p><span id="open_following">Following: {{ user_info.following }}</span></p>
                    </td>
                </tr>
                <tr>
                    <td>{{ user_info.bio }}</td>
                </tr>
                <tr>
                    <td>
                        {% if user.is_authenticated and user.username != user_info.username %}
                        {% for follower in follower_users %}
                            {% if user.username == follower.username %}
                            <button id="unfollow_button" data-userid="{{ user_info.id }}">Unfollow</button>
                            {% endif %}
                        {% empty %}
                            <button id="follow_button" data-userid="{{ user_info.id }}">Follow</button>
                        {% endfor %}
                        {% endif %}
                        {% if user.is_authenticated and user.username == user_info.username %}
                            <button type="button" id="edit_profile_button">Edit Profile</button>
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <div id="main_profile_div">
            <div id="filters">
                <table>
                    <tr>
                        <td>
                            {% if user.username == user_info.username %}
                            <h3>All My Posts</h3>
                            {% else %}
                            <h3>All {{ user_info.username }}'s Posts</h3>
                            {% endif %}
                        </td>
                        <td id="row1">
                            <p style="display:inline">Sort By:</p>
                            <select id="sort">
                                <option selected value="new_old">Newest to Oldest</option>
                                <option value="old_new">Oldest to Newest</option>
                                <option value="most_likes">Most Likes</option>
                                <option value="least_likes">Least Likes</option>
                                <option value="most_comments">Most Comments</option>
                                <option value="least_comments">Least Comments</option>
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            {% for post in posts|sort_posts:sort %}
            <div class="profile_post" id='profile_post{{ forloop.counter }}'>
                <p id="profile_category_info">Posted in {{ post.category }}</p>
                <h4>{{ post.title }}</h4>
                <p>{{ post.text|limit }}</p>
                <br>
                {% if user.is_anonymous %}
                <p>{{ post.like_count }} Likes</p>
                {% endif %}
                <table id="post_info">
                    <tr>
                        <td>
                            <button type="button" id="gtp_button" data-postid="{{ post.post }}">Go To Post</button>
                            {% if user.is_authenticated %}
                                {% if post.liked == True %}
                                <button id="like_button" data-postid="{{ post.post }}" data-clicked="true"><i class="fa fa-solid fa-heart" style="color: #ff0000;"></i>&nbsp <span id="like_count">{{ post.like_count }}</span></button>
                                {% else %}
                                <button id="like_button" data-postid="{{ post.post }}" data-clicked="false"><i class="fa fa-solid fa-heart" style="color: #ff0000;"></i>&nbsp <span id="like_count">{{ post.like_count }}</span></button>
                                {% endif %}
                                {% if user.username == user_info.username %}
                                <button id="edit_button" data-id="{{ post.post }}" data-post="profile_post{{ forloop.counter }}">Edit</button>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td id="profile_page_time">
                            <p>{{ post.comment_count }} comment(s) {{ post.unique_users }}</p>
                            <p>Uploaded {{ post.upload_time }}</p>
                        </td>
                    </tr> 
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}