
{% for reply in replies %}
    <div id="comment{{ reply.comment }}" class="post_comments" style='margin-left: {{ level }}px;'>
        <h5 id="user_page_route" data-username="{{ reply.user }}">{{ reply.user }}</h5>
        <hr>
        <p>{{ reply.text }}</p>
        <p id="pp_ut">{{ reply.upload_time }}</p>
        {% if user.is_authenticated and reply.text != '[DELETED]' %}
            <button type="button" id="reply_button" data-commentid="{{ reply.comment }}">Reply</button>
        {% if user == reply.user and reply.text != '[DELETED]' %}
            <button id="edit_comment" data-commentid="{{ reply.comment }}">Edit</button>
        {% endif %}
        {% if user == reply.user and reply.text != '[DELETED]' %}
            <button id="delete_comment" data-commentid="{{ reply.comment }}">Delete</button>
        {% endif %}
        {% endif %}
    </div>
        {% with reply.replies.all as nested_replies %}
            {% with level=level|add:80 %}
                {% include 'network/reply.html' with replies=nested_replies level=level %}
            {% endwith %}
        {% endwith %}
{% endfor %}