{% extends "auctions/layout.html" %}

{% block body %}
    <div class="listing_view">
        <p>Catergory: {{ item.get_catergory_display }}</p>
        <p><h2>{{ item.title }}</h2></p>
        {% if listing.image %}
        <img src="{{ listing.image }}" alt="{{ listing.title }}" width="450">
        {% else %}
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png" alt="{{ listing.title }}" width="300">
        {% endif %}
        <br><br>
        {% if user != item.user %}
        <form action="{% url 'update' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ item.id }}" name="item">
            <input type="hidden" name="button" value="watchlist">
            <button type="submit" id="watchlist">Add to watchlist</button>
        </form>
        {% endif %}
        {% if user == item.user and item.is_active == 'Y' %}
        <form action="{% url 'update' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ item.id }}" name="item">
            <input type="hidden" name="button" value="close">
            <button type="submit" class="open_close">Close listing</button>
        </form>
        {% endif %}
        {% if user == item.user and item.is_active == 'N' %}
        <form action="{% url 'update' %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ item.id }}" name="item">
            <input type="hidden" name="button" value="open">
            <button type="submit" class="open_close">Open listing</button>
        </form>
        {% endif %}
        <hr>
        <p><h3>Description:</h3></p>
        <p>{{ item.description }}</p>
        <hr>
        <h3>Current Bid:</h3>
        <br>
        <p>${{ item.current_price }}</p>
        {% if item.is_active == 'Y' %}
        <form action="{% url 'update' %}" method="post">
            {% csrf_token %}
            <input type="number" min="{{ item.current_price }}" step="any" placeholder="Enter Bid" name="starting_bid">
            <input type="hidden" value="{{ item.id }}" name="item">
            <input type="hidden" name="button" value="bid">
            <button type="submit" id="bid">Bid</button>
        </form>
        {% endif %}
        <br>
        <p><span>Bidding ends: {{ item.time_ending }}</span></p>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td>
                        <div class="enter_comment">
                            {% if user.is_authenticated %}
                            <form action="{% url 'update' %}" method="post">
                                {% csrf_token %}
                                <label for="input"><span>Rating:</span></label>
                                <select name="rating">
                                    <option select>N/A</option>
                                    <option>0</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select><p style="display: inline;">&nbsp&nbsp<span>/5</span></p>
                                <br>
                                <label for="textarea"><span>Enter comment (max: 255 characters):</span></label>
                                <br>
                                <textarea placeholder="Type here" name="comment"></textarea>
                                <br>
                                <input type="hidden" value="{{ item.id }}" name="item">
                                <input type="hidden" name="button" value="comment">
                                <button type="submit">Post</button>
                            </form>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% for comment in comments %}
                <tr>
                    <td class="comment_item">
                        <ul>
                            {% if comment.rating == None %}
                            {% else %}
                            <li id="comment_rating">(Rating: {{ comment.rating }} / 5)</li>
                            {% endif %}
                            <li id="comment_name">{{ comment.user }}:</li>
                            <li id="comment_text">"{{ comment.comment }}"</li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}