{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<hr>
<div class="watchlist_items">
    {% for item in items %}
    <table>
        <colgroup>
            <col>
            <col>
        </colgroup>
        <tbody>
            <tr>
                <td>{{ item.title }}</td>
                <td><img src="{{ item.image }}" alt="wand" width="200"></td>
                <td>Current Bid ${{ listing.current_price }}</td>
                <td>Description: {{ listing.description }}</td>
                <td><a href="listing/{{ item.id }}">Go to Listing</a></td>
            </tr>
        </tbody>
    </table>
    <hr>
    {% endfor %}
</div>
{% endblock %}