{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <label for="input"><h5>Enter Title:</h5></label>
        <input placeholder="Title" name="title" type="text">
        <p style="display: inline; color: red">{{ message }}</p>
        <br>
        <label for="textarea"><h5>Enter Markdown:</h5></label>
        <br>
        <textarea name="md_text" cols="100" rows="10" placeholder="#">{{ entry_text }}</textarea>
        <br><br>
        <button id="submit" type="submit">Submit Entry</button>
    </form>
{% endblock %}